main {
  border: solid 2px $black;
  padding: $gutter_std / 2;
  min-height: 100px;
}

.header, form label, h3 {
  $font-family: $font-acme;
}

h1 {
  font-family: $font-acme;
  font-size: 5vw;
  color: $h1-color;
}

button {
  padding: 5px 15px;
  background-color: $button-color;
  border: 1px solid $button-border;
}

img {
  margin: auto;
  display: block;
  height: 300px;
}

.header {
  text-align: center;
}

.header, p, main label {
  font-size: 1.4vw;
}