@import url('https://fonts.googleapis.com/css?family=Acme|Josefin+Sans|Muli');
$font_acme: 'Acme', sans-serif;
$bg_std: #D9D9D9;
$font_josefin: 'Josefin Sans', sans-serif;
$black: #000;
$white: #fff;
$gutter_std: 1vw;
$h1-color: #4484CE;
$button-color: #F19F4D;
$button-border: #4484CE;
